/node_modules
/vendor
/.git
/.github
/.vscode
/storage/*.key
/.env
/public/build
/public/hot
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
/tests
Dockerfile
.dockerignore
render.yaml
